* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

ol {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style-type: none; 
    padding: 0; 
  }  

  ol h3, ol {
    padding: 20px;
    text-align: center;
  }
  
  ol {
    list-style-type: none;
    padding: 0;
  }
  

footer {
    text-align: center;
    padding: 5px;
    background-color: #2f9e41;
    color: #000;
  }
  
.header-container {
    background-color: #2f9e41;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    font-size: 1.5em;
}

.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.game-card {
    background-color: white;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.game-card img {
    width: 100%;
    border-radius: 8px;
}

.game-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.game-desc {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
}
