* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

ol {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style-type: none; 
    padding: 0; 
  }  

  ol h3, ol {
    padding: 20px;
    text-align: center;
  }
  
  ol {
    list-style-type: none;
    padding: 0;
  }
  

footer {
    text-align: center;
    padding: 5px;
    background-color: #2f9e41;
    color: #000;
  }
  
.header-container {
    background-color: #2f9e41;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    font-size: 1.5em;
}

.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.game-card {
    background-color: white;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.game-card img {
    width: 100%;
    border-radius: 8px;
}

.game-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.game-desc {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
}

/* Adiciona o estilo do grid para a lista de jogos */
.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Múltiplas colunas que se adaptam */
    gap: 20px;
    padding: 20px;
}

/* Estilo para cada cartão de jogo */
.game-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Imagem do jogo dentro do cartão */
.game-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Título do jogo */
.game-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Estilo do link do Google Play */
.game-card a img {
    margin-top: 10px;
    max-width: 120px;
    height: auto;
}

/* Media query para telas pequenas */
@media (max-width: 768px) {
    .game-list {
        grid-template-columns: repeat(2, 1fr); /* Sempre duas colunas em telas pequenas */
    }
}

/* Media query para dispositivos móveis */
@media (max-width: 480px) {
    .game-list {
        grid-template-columns: repeat(2, 1fr); /* Garante que sempre terão duas colunas no celular */
    }
}
